https://github.com/sharebook-kr/pykrx

In [2]:
from pykrx import stock
# 티커리스트 조회
# input : 일자(미 입력 시 최근 영업일 DEFAULT)
#   - market: KOSPI(DEFAULT), KOSDAQ, KONEX, ALL
tickers = stock.get_market_ticker_list("20210830")

In [ ]:
# 종목이름 조회
# input : ticker
for ticker in stock.get_market_ticker_list():
  name = stock.get_market_ticker_name(ticker)
  name

In [15]:
# 일자별 OHLCV 조회
# input : 시작일/종료일/티커/(Optional)(d/m/y)
df = stock.get_market_ohlcv_by_date("20210827", "20210830", "005930")
df.head(3)

               시가     고가     저가     종가       거래량
날짜
2021-08-27  74300  75000  73800  74300  15172748
2021-08-30  75400  75500  74200  74600  12686999

In [55]:
# 전체 종목 시세 조회
# input : 날짜
#   - market: KOSPI(DEFAULT), KOSDAQ, KONEX, ALL
df = stock.get_market_ohlcv_by_ticker("20210830")
print(df.head(3))

           시가     고가     저가     종가     거래량        거래대금   등락률
티커
095570   5850   5970   5770   5920   68587   399761400  2.07
006840  26350  27400  26100  27300   56037  1499906350  3.80
027410   6320   6410   6300   6360  232110  1477499330  2.09

935

In [ ]:
# 종목별 DIV/BPS/PER/EPS 조회
# input : 날짜
#   - market: KOSPI(DEFAULT), KOSDAQ, KONEX, ALL
df = stock.get_market_fundamental_by_ticker("20210108")
df

In [ ]:
# 일자별 DIV/BPS/PER/EPS 조회
# input : 시작날짜, 종료날짜, 종목
#  - freq: d/m/y
df = stock.get_market_fundamental_by_date("20210104", "20210108", "005930")
print(df.head(2))

In [18]:
# 일자별 거래대금 조회
# input : 시작날짜, 종료날짜, 종목
#   - on: 매수, 매도, 순매수(DEFAULT)
df = stock.get_market_trading_value_by_date("20210115", "20210122", "005930")
df
df.index[0]

Timestamp('2021-01-15 00:00:00')

In [37]:
# 일자별 거래량 조회
# input : 시작날짜, 종료날짜, 종목
#   - on: 매수, 매도, 순매수(DEFAULT)
df = stock.get_market_trading_volume_by_date("20210115", "20210122", "005930")
df

               기관합계    기타법인       개인    외국인합계  전체
날짜
2021-01-15 -5006115  288832  7485785 -2768502   0
2021-01-18   505669  262604   151228  -919501   0
2021-01-19  1139258  -34023 -2044543   939308   0
2021-01-20 -4157919  262408  4917655 -1022144   0
2021-01-21  -712099 -321732  2890389 -1856558   0
2021-01-22 -6384793   56478  9884815 -3556500   0

In [144]:
# 투자자별 거래대금 조회
# input : 시작날짜, 종료날짜, 종목
df = stock.get_market_trading_value_by_investor("20210115", "20210122", "005930")
# print(df)
# print(df.loc['개인', '매수'])
# print(df.loc['개인', '매도'])
# print(df.loc['개인', '순매수'])
df

                   매도              매수            순매수
투자자구분
금융투자    2580964135000   2309054317700  -271909817300
보험       153322228800     44505136200  -108817092600
투신       258073006600    150715203700  -107357802900
사모        65167773900     60862926800    -4304847100
은행         3369626100      4004806100      635180000
기타금융       3477393800      4877166100     1399772300
연기금 등   4242868457300   3442541806900  -800326650400
기관합계    7307242621500   6016561363500 -1290681258000
기타법인     133693205700    178684949600    44991743900
개인      6918846810800   8972911580500  2054064769700
외국인     2891788072484   2077977924484  -813810148000
기타외국인     15364164000     20799056400     5434892400
전체     17266934874484  17266934874484              0

In [7]:
# 투자자별 거래량 조회
# input : 시작날짜, 종료날짜, 종목
df = stock.get_market_trading_volume_by_investor("20210826", "20210826", "005930")
# print(df.loc['기관합계'])
# print(df.loc['기관합계'][0])
# print(df.loc['기관합계'][1])
df

             매도        매수      순매수
투자자구분
금융투자    1842774   1361611  -481163
보험        28340     19501    -8839
투신        71713     39198   -32515
사모        26427     23972    -2455
은행            0      8000     8000
기타금융      26591         0   -26591
연기금 등   7251929   7053998  -197931
기관합계    9247774   8506280  -741494
기타법인      45168    169923   124755
개인      3578936   5480229  1901293
외국인     3788399   2503018 -1285381
기타외국인     11217     12044      827
전체     16671494  16671494        0

In [38]:
# 투자자별 순매수 상위종목 조회
# input : 시작날짜, 종료날짜, 시장(KOSPI/KOSDAQ), 투자자(금융투자/보험/투신/사모/은행/기타금융/연기금/기관합계/기타법인/개인/외국인/기타외국인/전체)
df = stock.get_market_net_purchases_of_equities_by_ticker("20210115", "20210122", "KOSPI", "개인")
df

,종목명,매도거래량,매수거래량,순매수거래량,매도거래대금,매수거래대금,순매수거래대금
티커,,,,,,,
005930,삼성전자,79567418,102852747,23285329,6918846810800,8972911580500,2054064769700
000270,기아차,44440252,49880626,5440374,3861283906400,4377698855000,516414948600
005935,삼성전자우,15849762,20011325,4161563,1207133611400,1528694164400,321560553000
051910,LG화학,709872,921975,212103,700823533000,908593419000,207769886000
096770,SK이노베이션,4848359,5515777,667418,1298854139000,1478890602000,180036463000
...,...,...,...,...,...,...,...
090430,아모레퍼시픽,1623553,1161213,-462340,369035759000,262552157500,-106483601500
035720,카카오,2681319,2404104,-277215,1205582480500,1077562119500,-128020361000
006400,삼성SDI,1544311,1333957,-210354,1156440902000,990487435000,-165953467000
285130,SK케미칼,2555085,2085241,-469844,1010511216500,823227903000,-187283313500
035420,NAVER,4644834,3449785,-1195049,1512026990000,1109562184000,-402464806000

In [39]:
# 종목별 시가총액 조회
# input : 날짜
df = stock.get_market_cap_by_ticker("20200625")
df

            종가             시가총액       거래량          거래대금       상장주식수
티커
005930   51900  309831714345000  18541624  970494909540  5969782550
000660   84300   61370599369500   3397112  287640892200   728002365
207940  815000   53924475000000    163339  133594217000    66165000
035420  269500   44268984952500   1196267  325381436500   164263395
068270  316000   42640845660000    918369  291688043500   134939385
...        ...              ...       ...           ...         ...
001529   30450       2732034900      2426      73806550       89722
238500     481       2252121846     10841       5711160     4682166
208890     999       2148669180       127        115157     2150820
267810    1150       1779050000      1300       1395000     1547000
224020     450       1215000000         2           900     2700000

[2475 rows x 5 columns]

In [40]:
# ETF티커 조회
# input : 날짜
tickers = stock.get_etf_ticker_list("20200717")
print(tickers[:10])

['292340', '159800', '285000', '287300', '287310', '290080', '284980', '287320', '287330', '252400']

In [ ]:
# ETF이름 조회
# input: 티커
tickers = stock.get_etf_ticker_list("20021014")
for ticker in tickers:
  print(stock.get_etf_ticker_name(ticker))

In [43]:
# 일자별 ETF OHLCV 조회
# input : 시작날짜, 종료날짜, 종목
#   - d/m/y
df = stock.get_etf_ohlcv_by_date("20210104", "20210108", "292340")
type(df)
# print(df.head())

pandas.core.frame.DataFrame

In [ ]:
# 종목별 ETF OHLCV 조회
# input : 날짜
df = stock.get_etf_ohlcv_by_ticker("20210325")
df

In [19]:
from pykrx import stock
from dataclasses import dataclass
import time

@dataclass
class Info:
  close: int = None
  volume_buy: int = None
  volume_sell: int = None
  volume_netbuy: int = None
  amount_buy: int = None
  amount_sell: int = None
  amount_netbuy: int = None
  individual_volume_buy: int = None
  individual_volume_sell: int = None
  individual_volume_netbuy: int = None
  individual_amount_buy: int = None
  individual_amount_sell: int = None
  individual_amount_netbuy: int = None
  foreign_volume_buy: int = None
  foreign_volume_sell: int = None
  foreign_volume_netbuy: int = None
  foreign_amount_buy: int = None
  foreign_amount_sell: int = None
  foreign_amount_netbuy: int = None
  institution_volume_buy: int = None
  institution_volume_sell: int = None
  institution_volume_netbuy: int = None
  institution_amount_buy: int = None
  institution_amount_sell: int = None
  institution_amount_netbuy: int = None
  corporation_volume_buy: int = None
  corporation_volume_sell: int = None
  corporation_volume_netbuy: int = None
  corporation_amount_buy: int = None
  corporation_amount_sell: int = None
  corporation_amount_netbuy: int = None

ticker_name, ticker_info = {}, {}
for ticker in stock.get_market_ticker_list()[:5]:
  name = stock.get_market_ticker_name(ticker)
  ticker_name[ticker] = name
  ticker_info[ticker] = {}

start = "20210825"
end = "20210830"

for ticker in ticker_name:
  df_close = stock.get_market_ohlcv_by_date(start, end, ticker)
  # 날짜(index) : 기관합계 / 기타법인 / 개인 / 외국인합계 / 전체
  df_volume_buy = stock.get_market_trading_volume_by_date(start, end, ticker, on="매수")
  df_volume_sell = stock.get_market_trading_volume_by_date(start, end, ticker, on="매도")
  df_volume_netbuy = stock.get_market_trading_volume_by_date(start, end, ticker, on="순매수")
  time.sleep(1)
  df_amount_buy = stock.get_market_trading_value_by_date(start, end, ticker, on="매수")
  df_amount_sell = stock.get_market_trading_value_by_date(start, end, ticker, on="매도")
  df_amount_netbuy = stock.get_market_trading_value_by_date(start, end, ticker, on="순매수")
  
  for idx in df_close.index:
    date = str(idx).split(' ')[0].replace('-', '')
    ticker_info[ticker][date] = Info()
    ticker_info[ticker][date].close = df_close.loc[idx, "종가"]
    ticker_info[ticker][date].institution_volume_buy, ticker_info[ticker][date].corporation_volume_buy, ticker_info[ticker][date].individual_volume_buy, ticker_info[ticker][date].foreign_volume_buy, ticker_info[ticker][date].volume_buy = df_volume_buy.loc[idx] 
    ticker_info[ticker][date].institution_volume_sell, ticker_info[ticker][date].corporation_volume_sell, ticker_info[ticker][date].individual_volume_sell, ticker_info[ticker][date].foreign_volume_sell, ticker_info[ticker][date].volume_sell = df_volume_sell.loc[idx] 
    ticker_info[ticker][date].institution_volume_netbuy, ticker_info[ticker][date].corporation_volume_netbuy, ticker_info[ticker][date].individual_volume_netbuy, ticker_info[ticker][date].foreign_volume_netbuy, ticker_info[ticker][date].volume_netbuy = df_volume_netbuy.loc[idx] 

    ticker_info[ticker][date].institution_amount_buy, ticker_info[ticker][date].corporation_amount_buy, ticker_info[ticker][date].individual_amount_buy, ticker_info[ticker][date].foreign_amount_buy, ticker_info[ticker][date].amount_buy = df_amount_buy.loc[idx] 
    ticker_info[ticker][date].institution_amount_sell, ticker_info[ticker][date].corporation_amount_sell, ticker_info[ticker][date].individual_amount_sell, ticker_info[ticker][date].foreign_amount_sell, ticker_info[ticker][date].amount_sell = df_amount_sell.loc[idx] 
    ticker_info[ticker][date].institution_amount_netbuy, ticker_info[ticker][date].corporation_amount_netbuy, ticker_info[ticker][date].individual_amount_netbuy, ticker_info[ticker][date].foreign_amount_netbuy, ticker_info[ticker][date].amount_netbuy = df_amount_netbuy.loc[idx] 

  # for idx in df.index:
  #   time.sleep(1)
  #   date = str(idx).split(' ')[0].replace('-', '')
  #   ticker_info[ticker][date] = Info()
  #   ticker_info[ticker][date].close = df.loc[idx, "종가"]
  #   ticker_info[ticker][date].institution
  #   df_buy.loc[idx]

  #   df_volume = stock.get_market_trading_volume_by_investor(date, date, ticker)    
  #   individual_volume = df_volume.loc['개인']
  #   foreign_volume = df_volume.loc['외국인']
  #   pension_volume = df_volume.loc['연기금 등']
  #   institutation_volume = df_volume.loc['기관합계'] - pension_volume
  #   volume = df_volume.loc['전체']
  #   ticker_info[ticker][date].pension_volume_sell, ticker_info[ticker][date].pension_volume_buy, ticker_info[ticker][date].pension_volume_netbuy = pension_volume
  #   ticker_info[ticker][date].institutation_volume_sell, ticker_info[ticker][date].institutation_volume_buy, ticker_info[ticker][date].institutation_volume_netbuy = institutation_volume
  #   ticker_info[ticker][date].individual_volume_sell, ticker_info[ticker][date].individual_volume_buy, ticker_info[ticker][date].individual_volume_netbuy = individual_volume
  #   ticker_info[ticker][date].foreign_volume_sell, ticker_info[ticker][date].foreign_volume_buy, ticker_info[ticker][date].foreign_volume_netbuy = foreign_volume
  #   ticker_info[ticker][date].volume_sell, ticker_info[ticker][date].volume_buy, ticker_info[ticker][date].volume_netbuy = volume

  #   df_amount = stock.get_market_trading_value_by_investor(date, date, ticker)   
  #   individual_amount = df_amount.loc['개인']
  #   foreign_amount = df_amount.loc['외국인']
  #   pension_amount = df_amount.loc['연기금 등']
  #   institutation_amount = df_amount.loc['기관합계'] - pension_amount
  #   amount = df_amount.loc['전체']
  #   ticker_info[ticker][date].pension_amount_sell, ticker_info[ticker][date].pension_amount_buy, ticker_info[ticker][date].pension_amount_netbuy = pension_amount
  #   ticker_info[ticker][date].institutation_amount_sell, ticker_info[ticker][date].institutation_amount_buy, ticker_info[ticker][date].institutation_amount_netbuy = institutation_amount
  #   ticker_info[ticker][date].individual_amount_sell, ticker_info[ticker][date].individual_amount_buy, ticker_info[ticker][date].individual_amount_netbuy = individual_amount
  #   ticker_info[ticker][date].foreign_amount_sell, ticker_info[ticker][date].foreign_amount_buy, ticker_info[ticker][date].foreign_amount_netbuy = foreign_amount
  #   ticker_info[ticker][date].amount_sell, ticker_info[ticker][date].amount_buy, ticker_info[ticker][date].amount_netbuy, = amount

ticker_info

{'095570': {'20210825': Info(close=5930, volume_buy=38127, volume_sell=38127, volume_netbuy=0, amount_buy=225087270, amount_sell=225087270, amount_netbuy=0, individual_volume_buy=30833, individual_volume_sell=30761, individual_volume_netbuy=72, individual_amount_buy=182152560, individual_amount_sell=181634230, individual_amount_netbuy=518330, foreign_volume_buy=2708, foreign_volume_sell=6557, foreign_volume_netbuy=-3849, foreign_amount_buy=15923650, foreign_amount_sell=38709740, foreign_amount_netbuy=-22786090, institution_volume_buy=1086, institution_volume_sell=808, institution_volume_netbuy=278, institution_amount_buy=6387170, institution_amount_sell=4737410, institution_amount_netbuy=1649760, corporation_volume_buy=3500, corporation_volume_sell=1, corporation_volume_netbuy=3499, corporation_amount_buy=20623890, corporation_amount_sell=5890, corporation_amount_netbuy=20618000),
  '20210826': Info(close=5830, volume_buy=114657, volume_sell=114657, volume_netbuy=0, amount_buy=663135960, amount_sell=663135960, amount_netbuy=0, individual_volume_buy=91840, individual_volume_sell=87088, individual_volume_netbuy=4752, individual_amount_buy=530868710, individual_amount_sell=503402090, individual_amount_netbuy=27466620, foreign_volume_buy=16402, foreign_volume_sell=11633, foreign_volume_netbuy=4769, foreign_amount_buy=95009750, foreign_amount_sell=67525230, foreign_amount_netbuy=27484520, institution_volume_buy=1158, institution_volume_sell=15936, institution_volume_netbuy=-14778, institution_amount_buy=6750450, institution_amount_sell=92208640, institution_amount_netbuy=-85458190, corporation_volume_buy=5257, corporation_volume_sell=0, corporation_volume_netbuy=5257, corporation_amount_buy=30507050, corporation_amount_sell=0, corporation_amount_netbuy=30507050),
  '20210827': Info(close=5800, volume_buy=41279, volume_sell=41279, volume_netbuy=0, amount_buy=239587750, amount_sell=239587750, amount_netbuy=0, individual_volume_buy=26517, individual_volume_sell=33661, individual_volume_netbuy=-7144, individual_amount_buy=153920070, individual_amount_sell=195234490, individual_amount_netbuy=-41314420, foreign_volume_buy=8312, foreign_volume_sell=3600, foreign_volume_netbuy=4712, foreign_amount_buy=48175590, foreign_amount_sell=21035790, foreign_amount_netbuy=27139800, institution_volume_buy=2750, institution_volume_sell=4018, institution_volume_netbuy=-1268, institution_amount_buy=16015090, institution_amount_sell=23317470, institution_amount_netbuy=-7302380, corporation_volume_buy=3700, corporation_volume_sell=0, corporation_volume_netbuy=3700, corporation_amount_buy=21477000, corporation_amount_sell=0, corporation_amount_netbuy=21477000),
  '20210830': Info(close=5920, volume_buy=68587, volume_sell=68587, volume_netbuy=0, amount_buy=399761400, amount_sell=399761400, amount_netbuy=0, individual_volume_buy=53249, individual_volume_sell=41529, individual_volume_netbuy=11720, individual_amount_buy=310237630, individual_amount_sell=242188140, individual_amount_netbuy=68049490, foreign_volume_buy=15117, foreign_volume_sell=12414, foreign_volume_netbuy=2703, foreign_amount_buy=88216110, foreign_amount_sell=72108290, foreign_amount_netbuy=16107820, institution_volume_buy=21, institution_volume_sell=14644, institution_volume_netbuy=-14623, institution_amount_buy=123660, institution_amount_sell=85464970, institution_amount_netbuy=-85341310, corporation_volume_buy=200, corporation_volume_sell=0, corporation_volume_netbuy=200, corporation_amount_buy=1184000, corporation_amount_sell=0, corporation_amount_netbuy=1184000)},
 '006840': {'20210825': Info(close=25700, volume_buy=27786, volume_sell=27786, volume_netbuy=0, amount_buy=708124850, amount_sell=708124850, amount_netbuy=0, individual_volume_buy=20455, individual_volume_sell=13966, individual_volume_netbuy=6489, individual_amount_buy=521719000, individual_amount_sell=356150600, individual_amount_netbuy=165568400, foreign_volume_buy=6683, foreign_volume_sell=7774, foreign_volume_netbuy=-1091, foreign_amount_buy=169926650, foreign_amount_sell=198315450, foreign_amount_netbuy=-28388800, institution_volume_buy=648, institution_volume_sell=6046, institution_volume_netbuy=-5398, institution_amount_buy=16479200, institution_amount_sell=153658800, institution_amount_netbuy=-137179600, corporation_volume_buy=0, corporation_volume_sell=0, corporation_volume_netbuy=0, corporation_amount_buy=0, corporation_amount_sell=0, corporation_amount_netbuy=0),
  '20210826': Info(close=26250, volume_buy=48828, volume_sell=48828, volume_netbuy=0, amount_buy=1278782050, amount_sell=1278782050, amount_netbuy=0, individual_volume_buy=27745, individual_volume_sell=13196, individual_volume_netbuy=14549, individual_amount_buy=726282550, individual_amount_sell=346082950, individual_amount_netbuy=380199600, foreign_volume_buy=11328, foreign_volume_sell=32701, foreign_volume_netbuy=-21373, foreign_amount_buy=297191200, foreign_amount_sell=855938400, foreign_amount_netbuy=-558747200, institution_volume_buy=9671, institution_volume_sell=2881, institution_volume_netbuy=6790, institution_amount_buy=253107500, institution_amount_sell=75446250, institution_amount_netbuy=177661250, corporation_volume_buy=84, corporation_volume_sell=50, corporation_volume_netbuy=34, corporation_amount_buy=2200800, corporation_amount_sell=1314450, corporation_amount_netbuy=886350),
  '20210827': Info(close=26300, volume_buy=19120, volume_sell=19120, volume_netbuy=0, amount_buy=498606300, amount_sell=498606300, amount_netbuy=0, individual_volume_buy=14677, individual_volume_sell=15376, individual_volume_netbuy=-699, individual_amount_buy=382716650, individual_amount_sell=400810800, individual_amount_netbuy=-18094150, foreign_volume_buy=4167, foreign_volume_sell=3555, foreign_volume_netbuy=612, foreign_amount_buy=108657350, foreign_amount_sell=92848050, foreign_amount_netbuy=15809300, institution_volume_buy=196, institution_volume_sell=172, institution_volume_netbuy=24, institution_amount_buy=5140300, institution_amount_sell=4506400, institution_amount_netbuy=633900, corporation_volume_buy=80, corporation_volume_sell=17, corporation_volume_netbuy=63, corporation_amount_buy=2092000, corporation_amount_sell=441050, corporation_amount_netbuy=1650950),
  '20210830': Info(close=27300, volume_buy=56037, volume_sell=56037, volume_netbuy=0, amount_buy=1499906350, amount_sell=1499906350, amount_netbuy=0, individual_volume_buy=31255, individual_volume_sell=42753, individual_volume_netbuy=-11498, individual_amount_buy=834079650, individual_amount_sell=1144466300, individual_amount_netbuy=-310386650, foreign_volume_buy=16525, foreign_volume_sell=12234, foreign_volume_netbuy=4291, foreign_amount_buy=442317600, foreign_amount_sell=327152050, foreign_amount_netbuy=115165550, institution_volume_buy=8179, institution_volume_sell=987, institution_volume_netbuy=7192, institution_amount_buy=221386950, institution_amount_sell=26627950, institution_amount_netbuy=194759000, corporation_volume_buy=78, corporation_volume_sell=63, corporation_volume_netbuy=15, corporation_amount_buy=2122150, corporation_amount_sell=1660050, corporation_amount_netbuy=462100)},
 '027410': {'20210825': Info(close=6190, volume_buy=113397, volume_sell=113397, volume_netbuy=0, amount_buy=699079250, amount_sell=699079250, amount_netbuy=0, individual_volume_buy=57250, individual_volume_sell=89693, individual_volume_netbuy=-32443, individual_amount_buy=352657190, individual_amount_sell=553220050, individual_amount_netbuy=-200562860, foreign_volume_buy=39850, foreign_volume_sell=12377, foreign_volume_netbuy=27473, foreign_amount_buy=245674430, foreign_amount_sell=76150820, foreign_amount_netbuy=169523610, institution_volume_buy=16227, institution_volume_sell=11327, institution_volume_netbuy=4900, institution_amount_buy=100314330, institution_amount_sell=69708380, institution_amount_netbuy=30605950, corporation_volume_buy=70, corporation_volume_sell=0, corporation_volume_netbuy=70, corporation_amount_buy=433300, corporation_amount_sell=0, corporation_amount_netbuy=433300),
  '20210826': Info(close=6180, volume_buy=122075, volume_sell=122075, volume_netbuy=0, amount_buy=755498590, amount_sell=755498590, amount_netbuy=0, individual_volume_buy=93812, individual_volume_sell=95424, individual_volume_netbuy=-1612, individual_amount_buy=580388800, individual_amount_sell=590595980, individual_amount_netbuy=-10207180, foreign_volume_buy=15166, foreign_volume_sell=16826, foreign_volume_netbuy=-1660, foreign_amount_buy=93848030, foreign_amount_sell=104237240, foreign_amount_netbuy=-10389210, institution_volume_buy=12697, institution_volume_sell=6825, institution_volume_netbuy=5872, institution_amount_buy=78777760, institution_amount_sell=42065370, institution_amount_netbuy=36712390, corporation_volume_buy=400, corporation_volume_sell=3000, corporation_volume_netbuy=-2600, corporation_amount_buy=2484000, corporation_amount_sell=18600000, corporation_amount_netbuy=-16116000),
  '20210827': Info(close=6230, volume_buy=110584, volume_sell=110584, volume_netbuy=0, amount_buy=684598840, amount_sell=684598840, amount_netbuy=0, individual_volume_buy=74380, individual_volume_sell=90595, individual_volume_netbuy=-16215, individual_amount_buy=460925480, individual_amount_sell=560978450, individual_amount_netbuy=-100052970, foreign_volume_buy=22028, foreign_volume_sell=9318, foreign_volume_netbuy=12710, foreign_amount_buy=136143900, foreign_amount_sell=57763420, foreign_amount_netbuy=78380480, institution_volume_buy=14176, institution_volume_sell=10671, institution_volume_netbuy=3505, institution_amount_buy=87529460, institution_amount_sell=65856970, institution_amount_netbuy=21672490, corporation_volume_buy=0, corporation_volume_sell=0, corporation_volume_netbuy=0, corporation_amount_buy=0, corporation_amount_sell=0, corporation_amount_netbuy=0),
  '20210830': Info(close=6360, volume_buy=232110, volume_sell=232110, volume_netbuy=0, amount_buy=1477499330, amount_sell=1477499330, amount_netbuy=0, individual_volume_buy=170269, individual_volume_sell=219759, individual_volume_netbuy=-49490, individual_amount_buy=1083663540, individual_amount_sell=1399028410, individual_amount_netbuy=-315364870, foreign_volume_buy=57481, foreign_volume_sell=9722, foreign_volume_netbuy=47759, foreign_amount_buy=366139430, foreign_amount_sell=61771630, foreign_amount_netbuy=304367800, institution_volume_buy=4160, institution_volume_sell=2529, institution_volume_netbuy=1631, institution_amount_buy=26418360, institution_amount_sell=16061290, institution_amount_netbuy=10357070, corporation_volume_buy=200, corporation_volume_sell=100, corporation_volume_netbuy=100, corporation_amount_buy=1278000, corporation_amount_sell=638000, corporation_amount_netbuy=640000)},
 '282330': {'20210825': Info(close=175500, volume_buy=31915, volume_sell=31915, volume_netbuy=0, amount_buy=5591311500, amount_sell=5591311500, amount_netbuy=0, individual_volume_buy=2148, individual_volume_sell=23267, individual_volume_netbuy=-21119, individual_amount_buy=374051000, individual_amount_sell=4079550000, individual_amount_netbuy=-3705499000, foreign_volume_buy=9666, foreign_volume_sell=4590, foreign_volume_netbuy=5076, foreign_amount_buy=1688293000, foreign_amount_sell=803398000, foreign_amount_netbuy=884895000, institution_volume_buy=20098, institution_volume_sell=4052, institution_volume_netbuy=16046, institution_amount_buy=3528459000, institution_amount_sell=707319500, institution_amount_netbuy=2821139500, corporation_volume_buy=3, corporation_volume_sell=6, corporation_volume_netbuy=-3, corporation_amount_buy=508500, corporation_amount_sell=1044000, corporation_amount_netbuy=-535500),
  '20210826': Info(close=178000, volume_buy=26850, volume_sell=26850, volume_netbuy=0, amount_buy=4765047000, amount_sell=4765047000, amount_netbuy=0, individual_volume_buy=1875, individual_volume_sell=16574, individual_volume_netbuy=-14699, individual_amount_buy=331688500, individual_amount_sell=2944449000, individual_amount_netbuy=-2612760500, foreign_volume_buy=8946, foreign_volume_sell=6265, foreign_volume_netbuy=2681, foreign_amount_buy=1585587000, foreign_amount_sell=1110067500, foreign_amount_netbuy=475519500, institution_volume_buy=15919, institution_volume_sell=4005, institution_volume_netbuy=11914, institution_amount_buy=2828281500, institution_amount_sell=709465500, institution_amount_netbuy=2118816000, corporation_volume_buy=110, corporation_volume_sell=6, corporation_volume_netbuy=104, corporation_amount_buy=19490000, corporation_amount_sell=1065000, corporation_amount_netbuy=18425000),
  '20210827': Info(close=177000, volume_buy=20551, volume_sell=20551, volume_netbuy=0, amount_buy=3625654000, amount_sell=3625654000, amount_netbuy=0, individual_volume_buy=2179, individual_volume_sell=3918, individual_volume_netbuy=-1739, individual_amount_buy=382947500, individual_amount_sell=691841000, individual_amount_netbuy=-308893500, foreign_volume_buy=10876, foreign_volume_sell=10483, foreign_volume_netbuy=393, foreign_amount_buy=1919100500, foreign_amount_sell=1850069500, foreign_amount_netbuy=69031000, institution_volume_buy=7493, institution_volume_sell=6049, institution_volume_netbuy=1444, institution_amount_buy=1323081000, institution_amount_sell=1066074500, institution_amount_netbuy=257006500, corporation_volume_buy=3, corporation_volume_sell=101, corporation_volume_netbuy=-98, corporation_amount_buy=525000, corporation_amount_sell=17669000, corporation_amount_netbuy=-17144000),
  '20210830': Info(close=181000, volume_buy=27053, volume_sell=27053, volume_netbuy=0, amount_buy=4859657000, amount_sell=4859657000, amount_netbuy=0, individual_volume_buy=2459, individual_volume_sell=15245, individual_volume_netbuy=-12786, individual_amount_buy=441166500, individual_amount_sell=2741603500, individual_amount_netbuy=-2300437000, foreign_volume_buy=11030, foreign_volume_sell=6411, foreign_volume_netbuy=4619, foreign_amount_buy=1983274500, foreign_amount_sell=1150148000, foreign_amount_netbuy=833126500, institution_volume_buy=13462, institution_volume_sell=5319, institution_volume_netbuy=8143, institution_amount_buy=2417006000, institution_amount_sell=953904500, institution_amount_netbuy=1463101500, corporation_volume_buy=102, corporation_volume_sell=78, corporation_volume_netbuy=24, corporation_amount_buy=18210000, corporation_amount_sell=14001000, corporation_amount_netbuy=4209000)},
 '138930': {'20210825': Info(close=7740, volume_buy=914515, volume_sell=914515, volume_netbuy=0, amount_buy=7036322960, amount_sell=7036322960, amount_netbuy=0, individual_volume_buy=265901, individual_volume_sell=559725, individual_volume_netbuy=-293824, individual_amount_buy=2045353890, individual_amount_sell=4308033000, individual_amount_netbuy=-2262679110, foreign_volume_buy=324417, foreign_volume_sell=149725, foreign_volume_netbuy=174692, foreign_amount_buy=2493803230, foreign_amount_sell=1150324830, foreign_amount_netbuy=1343478400, institution_volume_buy=324196, institution_volume_sell=192977, institution_volume_netbuy=131219, institution_amount_buy=2497158180, institution_amount_sell=1484844750, institution_amount_netbuy=1012313430, corporation_volume_buy=1, corporation_volume_sell=12088, corporation_volume_netbuy=-12087, corporation_amount_buy=7660, corporation_amount_sell=93120380, corporation_amount_netbuy=-93112720),
  '20210826': Info(close=7780, volume_buy=1168259, volume_sell=1168259, volume_netbuy=0, amount_buy=9102984320, amount_sell=9102984320, amount_netbuy=0, individual_volume_buy=567348, individual_volume_sell=775279, individual_volume_netbuy=-207931, individual_amount_buy=4421446720, individual_amount_sell=6046888780, individual_amount_netbuy=-1625442060, foreign_volume_buy=383256, foreign_volume_sell=149310, foreign_volume_netbuy=233946, foreign_amount_buy=2987520080, foreign_amount_sell=1161296780, foreign_amount_netbuy=1826223300, institution_volume_buy=206259, institution_volume_sell=242124, institution_volume_netbuy=-35865, institution_amount_buy=1605538770, institution_amount_sell=1882770880, institution_amount_netbuy=-277232110, corporation_volume_buy=11396, corporation_volume_sell=1546, corporation_volume_netbuy=9850, corporation_amount_buy=88478750, corporation_amount_sell=12027880, corporation_amount_netbuy=76450870),
  '20210827': Info(close=7910, volume_buy=1393615, volume_sell=1393615, volume_netbuy=0, amount_buy=10959966060, amount_sell=10959966060, amount_netbuy=0, individual_volume_buy=282989, individual_volume_sell=1109639, individual_volume_netbuy=-826650, individual_amount_buy=2224664930, individual_amount_sell=8726066550, individual_amount_netbuy=-6501401620, foreign_volume_buy=639750, foreign_volume_sell=170967, foreign_volume_netbuy=468783, foreign_amount_buy=5031063090, foreign_amount_sell=1345178760, foreign_amount_netbuy=3685884330, institution_volume_buy=470398, institution_volume_sell=112959, institution_volume_netbuy=357439, institution_amount_buy=3700479930, institution_amount_sell=888328050, institution_amount_netbuy=2812151880, corporation_volume_buy=478, corporation_volume_sell=50, corporation_volume_netbuy=428, corporation_amount_buy=3758110, corporation_amount_sell=392700, corporation_amount_netbuy=3365410),
  '20210830': Info(close=7740, volume_buy=1158014, volume_sell=1158014, volume_netbuy=0, amount_buy=9014256350, amount_sell=9014256350, amount_netbuy=0, individual_volume_buy=630018, individual_volume_sell=410177, individual_volume_netbuy=219841, individual_amount_buy=4906655700, individual_amount_sell=3192790810, individual_amount_netbuy=1713864890, foreign_volume_buy=208894, foreign_volume_sell=385068, foreign_volume_netbuy=-176174, foreign_amount_buy=1626966320, foreign_amount_sell=3000264350, foreign_amount_netbuy=-1373298030, institution_volume_buy=205178, institution_volume_sell=358657, institution_volume_netbuy=-153479, institution_amount_buy=1596368040, institution_amount_sell=2788973170, institution_amount_netbuy=-1192605130, corporation_volume_buy=113924, corporation_volume_sell=4112, corporation_volume_netbuy=109812, corporation_amount_buy=884266290, corporation_amount_sell=32228020, corporation_amount_netbuy=852038270)}}

In [43]:
# 일자별 ETF OHLCV 조회
# input : 시작날짜, 종료날짜, 종목
#   - d/m/y
df = stock.get_etf_ohlcv_by_date("20210104", "20210108", "292340")
print(df.head())

pandas.core.frame.DataFrame