In [ ]:
from pykrx import stock
# 티커리스트 조회
# input : 일자(미 입력 시 최근 영업일 DEFAULT)
#   - market: KOSPI(DEFAULT), KOSDAQ, KONEX, ALL
# output: 코스피 시장에 상장된 ticker list
tickers = stock.get_market_ticker_list("20210830")

In [ ]:
# 종목이름 조회
# input : ticker
# output: 종목이름
for ticker in stock.get_market_ticker_list():
  name = stock.get_market_ticker_name(ticker)
  name

In [ ]:
# 일자별 OHLCV 조회
# input : 시작일/종료일/티커/(Optional)(d/m/y)
# output: 일자별 OHLCV DataFrame
df = stock.get_market_ohlcv_by_date("20210829", "20210830", "005930")
df.head(3)

In [10]:
# 전체 종목 시세 조회
# input : 날짜
#   - market: KOSPI(DEFAULT), KOSDAQ, KONEX, ALL
# output: 코스피 전 종목 시세 DataFrame
df = stock.get_market_ohlcv_by_ticker("20210830")
df

            시가      고가      저가      종가      거래량         거래대금   등락률
티커
095570    5850    5970    5770    5920    68587    399761400  2.07
006840   26350   27400   26100   27300    56037   1499906350  3.80
027410    6320    6410    6300    6360   232110   1477499330  2.09
282330  176500  181000  176500  181000    27053   4859657000  2.26
138930    7950    7960    7740    7740  1158014   9014256350 -2.15
...        ...     ...     ...     ...      ...          ...   ...
069260   26650   27400   26400   26850  1939979  52116739350  1.70
000540    4045    4050    3890    3945    60565    238955290 -1.74
000547   27900   28000   27150   28000     2841     78479300  0.00
000545   10200   10200   10000   10050     1760     17686850 -1.47
003280       0       0       0    1035        0            0  0.00

[935 rows x 7 columns]